src/**/*
scripts
node_modules
assets
__tests__
babel.config.js
jest.config.js
ecosystem.config.js

assets-*

chatcola.nedb*
*.nedb

yarn-error.log

*.pem

.travis.yml

nodemon.json

nginx.configuration

chatcola.json

tsconfi*.json

coverage

*.env